html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    line-height: 1.3;
}