//Colors
root {
    --blueGray: #2d314dff;
    --milkGreen: #32d25dff;
    --blueSky: #2cb6d8ff;
    --grayLight: #9698a6ff;
    --gray100: #f3f4f6ff;
    --gray50: #fafafaff;
    --white: rgb(255, 255, 255);
}